@use "@/assets/scss/utilities/animations" as *;
@use "@/assets/scss/utilities/functions" as *;
@use "@/assets/scss/utilities/mixins" as *;
@use "@/assets/scss/utilities/variables" as *;

.product-card {
  padding: 18px;
  border: 1px solid #f5eee442;
  border-radius: 60px;

  @include media($xxl) {
    border-radius: 40px;
  }

  @include media($sm) {
    border-radius: 18px;
    padding: 6px;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 412px;
    border-radius: 50px;
    overflow: hidden;

    @include media($xxl) {
      border-radius: 40px;
      height: 300px;
    }

    @include media($sm) {
      height: 150px;
      border-radius: 18px;
    }

    &--item {
      position: absolute;
      bottom: -1.7rem;
      left: -1.7rem;
      z-index: 2;
      width: 270px;

      @include media($xxl) {
        width: 140px;
      }

      @include media($sm) {
        width: 90px;
      }

      img {
        @include fit(cover);
      }
    }

    img {
      @include fit(cover);
    }
  }

  &__info {
    margin-top: 16px;

    @include media($xxl) {
      margin-top: 12px;
    }

    @include media($sm) {
      margin-top: 8px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    @include font(20px, 24px, 400);
    color: #fff;
    text-transform: uppercase;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    @include media($xxl) {
      @include font(18px, 24px, 400);
    }

    @include media($sm) {
      @include font(14px, 16px, 400);
      line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &__heart {
    svg {
      path {
        fill-opacity: 0;
      }
    }

    &.active {
      svg {
        path {
          fill-opacity: 1;
        }
      }
    }
  }

  &__bug {
    svg {
      path {
        fill-opacity: 0;
      }
    }

    &.active {
      svg {
        path {
          fill-opacity: 1;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;

    @include media($xxl) {
      gap: 8px;
    }

    @include media($sm) {
      gap: 4px;
    }

    svg {
      @include media($xxl) {
        width: 26px;
        height: 26px;
      }
      @include media($sm) {
        width: 20px;
        height: 20px;
      }
    }
  }
      img {
      @include media($xxl) {
        // width: 26px;
        height: 26px;
      }
      @include media($sm) {
        // width: 20px;
        height: 20px;
      }
    }


  &__desc {
    margin-top: 12px;
    @include font(20px, 24px, 400);
    color: #fff;
    margin-bottom: 15px;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 54px;

    @include media($xxl) {
      @include font(18px, 22px, 400);
      margin-bottom: 10px;
      min-height: 48px;
    }

    @include media($sm) {
      @include font(12px, 16px, 400);
      margin-bottom: 6px;
      margin-top: 6px;
      min-height: 40px;
    }
  }
}